html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #0f0f0f;
  font-family: 'SFCompactDisplay', sans-serif;
  color: #9f9f9f;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  color: #9f9f9f;
  text-decoration: none;
}

.btn {
  padding: 0.65em 2.6em;
  border: none;
  background-color: #070707;
  font-family: 'SFCompactDisplay', sans-serif;
  font-size: 2.1em;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #847b7b;
}

.header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding-top: 4.4em;
  padding-bottom: 4.4em;
  padding-left: 1.75146%;
  padding-right: 6.772227%;
}

.logo {
  display: inline-block;
  margin-right: 4%;
  font-family: 'Maleah', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  color: #fefefe;
}

.burger {
  position: relative;
  z-index: 2;
  margin-bottom: 0.2em;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.7em;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 1.48em;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #fefefe;
}

.burger__layers {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 90px;
  margin: 0 auto;
  padding-top: 25px;
  border-top: 12px solid #fefefe;
}

.burger__layer {
  margin-top: 0;
  margin-bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 4px;
}

.burger__layer:not(:last-of-type) {
  margin-bottom: 25px;
}

.soc-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding-top: 0.3em;
}

.soc-list--mobile {
  display: none;
}

.soc-list__el:not(:last-of-type) {
  margin-right: 2.02em;
}

.soc-list__link {
  display: block;
}

.soc-list__link img {
  height: 2.8em;
}

.container {
  flex-grow: 1;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-left: 3.569641%;
  padding-right: 3.569641%;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 670px;
  width: 11.581677%;
  background-color: rgba(15, 15, 15, 0.85);
}

.nav {
  padding-left: 30%;
}

.nav__title {
  margin-bottom: 1em;
  font-size: 1.16em;
  font-weight: 100;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.nav__el {
  font-size: 1.16em;
  font-weight: 100;
  letter-spacing: 0.09em;
}

.nav__list--child {
  padding-top: 0.65em;
  padding-bottom: 1em;
  padding-left: 6.124779%;
  font-size: 0.86206897em;
}

.nav__el--child {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.17em;
}

.nav__el--child:not(:last-of-type) {
  margin-bottom: 0.65em;
}

.content {
  position: relative;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
  padding-bottom: 8.35%;
}

.layout {
  text-align: center;
}

.layout__text {
  max-width: 23.5em;
  margin-bottom: 2.7em;
  font-size: 1.45em;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #847b7b;
}

.options {
  position: fixed;
  bottom: 29.2em;
  right: 4.3em;
  text-align: right;
}

.share {
  display: block;
  width: 2.3em;
  margin-bottom: 6.3em;
}

.share img {
  max-width: 100%;
}

.lang {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}

.lang__el {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #505352;
}

.lang__el:not(:last-of-type) {
  margin-right: 33.684211%;
}

.lang__el--active {
  color: #fefefe;
}

.footer {
  padding-left: 3.569641%;
  padding-right: 1.9%;
}

.footer__content {
  padding-top: 4.2em;
  padding-bottom: 5.5em;
  border-top: 1px solid #3e3e3e;
}

.footer__text {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.08em;
}

@media (max-width: 2000px) {
  body {
    font-size: 14px;
  }

  .logo {
    margin-right: 1.5%;
  }

  .header {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .burger {
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .burger__layers {
    padding-top: 15px;
  }

  .burger__layer:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .sidebar {
    position: fixed;
    top: 200px;
    z-index: 1;
    min-width: 288px;
    width: 21.581677%;
  }

  .nav {
    padding-left: 15%;
  }

  .layout__text {
    max-width: 450px;
    margin-bottom: 50px;
  }

  .options {
    bottom: 100px;
  }

  .btn {
    padding: 26px 96px;
  }

  .footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .header {
    padding-top: 25px;
    padding-left: 6.672227%;
  }

  .burger__layer:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .sidebar {
    top: 100px;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
    overflow-y: auto;
  }

  .soc-list {
    display: none;
  }

  .soc-list--mobile {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .options {
    right: 10px;
    bottom: 40px;
  }

  .share {
    margin-bottom: 3.32em;
  }

  .lang__el {
    font-size: 1.6em;
  }

  .btn {
    padding: 16px 26px;
  }
}
